.overridden-hint-list-toggle {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-image: url('../../../images/note_msg_icon.gif');

    text-indent: -9999px;
    white-space: nowrap;
    margin-left: 5px;
}
.overridden-hint-list-toggle.visible {
    /* background-image: url('../../../images/button-close.png'); */
}
.overridden-hint-list {
    display: none;
}
.overridden-hint-list li {
    display: none;
}

/* visible state */
.overridden-hint-list.visible {
    display: block;
}
.overridden-hint-list.visible li {
    display: block;
}
